.show__list {
    display: flex;
    height: 790px;
}

.show__list--menu {
    flex: 1;
    max-width: 600px;
    background-color: $color_white--2;
    box-shadow: 2px 0px 10px #666;
    z-index: 3;
    min-width: 500px;
    height: 790px;
}

.show__list--image {
    flex: none;
    box-shadow: 3px 0px 30px #000;
    background-color: $color_black--1;
    z-index: 1;
    height: 790px;
    width: 1100px;

    img {
        height: 790px;
    }
}
