body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: $color-black--1;
}
body:before {
    content: "";
    position: fixed;
    //    background: url('/background.jpg');
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 20%; width: 20%; /* Using Glen Maddern's trick /via @mente */

    /* don't forget to use the prefixes you need */
    transition: background 1s ease-in;
    transform: scale(5);
    transform-origin: top left;
    filter: blur(2px);
}

#menu {
    height: 790px;
}

.show__overview {
    display: flex;
    height: 790px;
}

.show__overview--menu {
    flex: 1;
    max-width: 600px;
    background-color: $color_white--2;
    box-shadow: 2px 0px 10px #666;
    z-index: 3;
    min-width: 500px;
    height: 790px;

    .show__overview--title {
        height: 200px;
        padding: 40px;
        text-transform: capitalize;
        font-weight: 700;
        margin-top: 45px;
        font-family: 'Montserrat',sans-serif;
        @include font-size(58);
        color : $color-black--1;
    }

    .show__overview--meta {
        font-family: 'Open-sans', sans-serif;
        font-weight: bold;
        border-top: 3px solid $color-grey--3;
        background-color: #fff;
        padding: 40px;
        padding-top: 25px;
        height: 51px;

        ul {
            display: inline;
            list-style-type: none;

            li {
                float: left;
                width: 33%;
                text-align: center;

            }

            span {
                display: inherit;
                margin-bottom: 6px;
                text-align: center;
                @include font-size(50);
            }
        }
    }
}
.show__overview--image {
    flex: none;
    box-shadow: 3px 0px 30px #000;
    z-index: 1;
    height: 790px;
    width: 500px;

//    background-size: cover;
//    background-position-x: -190px;

    img {
        height: 790px;
        width: 500px;
    }
}

.show__overview--info {
    flex: 1;
    background-color: $color_black--1;
    padding: 40px;
    height: 790px;
    min-width: 600px;

    h1 {
        font-family: 'Montserrat',sans-serif;
        @include font-size(36);
        color : $color-white--1;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    p {
        font-family: 'Open-sans', sans-serif;
        @include font-size(20);
        color: $color_grey--2;
        line-height: 30px;
        margin-bottom: 15px;
    }
}

.show__info--synopsis {
    margin-top: 25px;
}
.show__info--actors {

}
.show__info--category {

}
