body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
//    font-family: 'Roboto', sans-serif;
    font-family: PT Serif, sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: ('../assets/fonts/Montserrat/Montserrat-Regular');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: ('../assets/fonts/Montserrat/Montserrat-Bold');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: ('../assets/fonts/PT_Serif/PTSerif-Regular');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: ('../assets/fonts/PT_Serif/PTSerif-Bold');
}
