body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
//    font-family: 'Roboto', sans-serif;
//    font-family: PT Serif, sans-serif;
//    font-family: 'ProximaNova', sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: ('../assets/fonts/Montserrat/Montserrat-Regular');
}

@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 400;
    src: ('../assets/fonts/nova/ProximaNova-Regular.otf');
}

@font-face {
    font-family: "Yoga";
    font-style: normal;
    font-weight: normal;
    src: ('../assets/fonts/yogo/YogaSansWebPro.woff');
}

@font-face {
    font-family: "Open-sans";
    font-style: normal;
    font-weight: normal;
    src: ('../assets/fonts/open-sans/OpenSans-Reqular');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: ('../assets/fonts/Montserrat/Montserrat-Bold');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: ('../assets/fonts/PT_Serif/PTSerif-Regular');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: ('../assets/fonts/PT_Serif/PTSerif-Bold');
}
